.boxContainer {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 100px;
  }
  .column1 {
    height: 100%;
    width: 10%;
  }
  .column2 {
    height: 100%;
    width: 20%;
  }
  .profilePos {
    float: inline-start;
    height: 60%;
  }
  .followingPos {
    float: inline-end;
    height: 40%;
  }
  .box {
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    padding-top: 100px;
  }
  .levelRule {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
  }
  .explain {
    display: flex;
    justify-content: space-around;
    width: 500px;
  }

  .expRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }