/* Statistics.css */
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}
.ruleTitle {
  font-weight: bold;
}

.boxContainer {
  display: flex;
  margin-left: 200px;
}

.column1, .column2 {
  padding: 20px;
  margin-right: 20px;
}

.column1 {
  width: 30%;
}

.column2 {
  width: 70%;
}

.expRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.rowTitle {
  font-weight: bold;
}

.explain {
  margin-bottom: 20px;
  text-align: left;
}
