  /* UserProfile.css */

  .main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .profile-section {
    padding: 20px;
    flex-shrink: 0;
  }

  .post {
    /* flex-grow: 1; */
    overflow-y: auto;
    position: relative;
  }

  .post.empty {
    /* top: 20px !important; */
    max-height: 100px;
    overflow: hidden;
    width: 900px;
    /* flex-grow: 1; */
  }

  .post.filled {
    /* flex-grow: 1; */
    overflow-y: auto;
  }

  .post > .post-item {
    overflow: visible;
    width: 900px;
  }

  .post p {
    font-size: 16px;
    margin: 5px;
  }
  
  .posts-heading {
    font-weight: bold;
    font-size: 22px;
    color: black;
  }